@import "tailwindcss";

@theme {
  /* custom styles */
  --font-worksans: var(--font-worksans), sans-serif;

  --color-pmi-blue: #1E5AFF;
  --color-pmi-mint: #A1F6E1;
  --color-pmi-light-blue: #A9D8FF;
  --color-pmi-black: #2C2F33;
  --color-pmi-grey: #F3F5F7;

  --text-pmi-h1: clamp(40px, calc(40px + 3vw), 80px);
  --text-pmi-h2: clamp(32px, calc(32px + 2.5vw), 60px);
  --text-pmi-h3: clamp(28px, calc(28px + 1.6vw), 40px);
  --text-pmi-h4: clamp(22px, calc(22px + 1vw), 30px);
  --text-pmi-body: 16px;
  --text-pmi-button: 12px;
  --leading-pmi-h: 1.05;
  --leading-pmi-text: 1.2;
}
